---
import Layout from '#layouts/Layout.astro'
---

<Layout title="José Luis Silva | Portfolio">
	<main>
		<article>
			<header>
				<div id="about" data-visible="true">
					<p>me</p>
					<hr class="vertical-line" />
					<div class="grouping-lines down"></div>
				</div>
				<div id="projects" data-visible="true">
					<p>website</p>
					<hr class="vertical-line" />
					<div class="grouping-lines down"></div>
				</div>
			</header>

			<h1>
				<span id="name" data-visible="true">joseluis</span>
				<span id="at" data-visible="true">@</span>
				<span id="nick" data-visible="true">sheokahn</span>
				<span id="tlg" data-visible="true">.com</span>
			</h1>

			<footer>
				<div id="email-right" class="grouping-lines up" data-visible="true">
				</div>
				<div id="email-left" class="grouping-lines up" data-visible="true">
				</div>
				<div id="social-media" data-visible="true">
					<div class="grouping-lines up"></div>
					<hr class="vertical-line" />
					<p>social media</p>
				</div>
				<div id="email" data-visible="true">
					<div class="grouping-lines up"></div>
					<hr class="vertical-line" />
					<p>email</p>
				</div>
			</footer>
		</article>
	</main>
</Layout>

<style>
	main {
		display: grid;
		min-height: 100dvh;
		place-content: center;
	}

	article {
		--font-size-p: 24px;
		--font-size-h1: 48px;
		--line-width: 4px;
		--line-height-h1: 1;
		--line-height-p: 32px;
		--opacity-visible: 1;
		--opacity-hidden: 0.1;
		--transition-duration: 0.5s;
		--transition-timing-function: ease;
		--grid-template-columns: 185px 50px 236px 116px;
		--grid-template-rows-header: 102px 48px 150px;
		--grid-template-rows-footer: repeat(2, 1fr);

		-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: none; /* Safari */
		-khtml-user-select: none; /* Konqueror HTML */
		-moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* Internet Explorer/Edge */
		user-select: none; /* Non-prefixed version; currently supported by Chrome and Opera */

		display: grid;
		grid-template-rows: var(--grid-template-rows-header);

		& > header {
			display: grid;
			grid-template-columns: var(--grid-template-columns);

			& > div#projects {
				grid-column: 3 / span 2;
			}
		}

		& > h1 {
			display: grid;
			grid-template-columns: var(--grid-template-columns);
		}

		& > footer {
			display: grid;
			margin-top: 5px;
			grid-template-columns: var(--grid-template-columns);
			grid-template-rows: var(--grid-template-rows-footer);

			& > div#social-media {
				grid-column: 2 / span 2;
			}
			& > div#email {
				grid-row: 2;
				grid-column: span 4;
			}
		}
	}

	div#about,
	div#email,
	div#projects,
	div#social-media {
		text-align: center;
	}

	p {
		font-weight: bold;
		font-size: var(--font-size-p);
		line-height: var(--line-height-p);
	}

	h1 {
		font-size: var(--font-size-h1);
		line-height: var(--line-height-h1);
	}

	p,
	h1 {
		letter-spacing: 0.05em;
	}

	hr.vertical-line {
		left: 50%;
		height: 10px;
		border-width: 0;
		position: relative;
		width: var(--line-width);
		background-color: light-dark(var(--color-black), var(--color-white));
	}

	.grouping-lines {
		height: 60px;
		border-style: solid;
		border-width: var(--line-width);
		border-color: light-dark(var(--color-black), var(--color-white));

		&.down {
			border-bottom-width: 0;
		}
		&.up {
			border-top-width: 0;
		}
	}

	#email-left,
	#email-right {
		height: 100%;
	}

	#email-right {
		grid-row: 1;
		grid-column: 1;
		border-top-width: 0;
		border-right-width: 0;
		border-bottom-width: 0;
	}

	#email-left {
		grid-row: 1;
		grid-column: 4;
		border-top-width: 0;
		border-left-width: 0;
		border-bottom-width: 0;
	}

	[data-visible='false'] {
		opacity: var(--opacity-hidden);
		transition: opacity var(--transition-duration)
			var(--transition-timing-function);
	}

	[data-visible='true'] {
		opacity: var(--opacity-visible);
		transition: opacity var(--transition-duration)
			var(--transition-timing-function);
	}
</style>

<script>
	const elements: Record<string, HTMLElement | null> = {
		about: document.getElementById('about'),
		projects: document.getElementById('projects'),
		socialMedia: document.getElementById('social-media'),
		email: document.getElementById('email'),
		emailLeft: document.getElementById('email-left'),
		emailRight: document.getElementById('email-right'),
		name: document.getElementById('name'),
		at: document.getElementById('at'),
		nick: document.getElementById('nick'),
		tlg: document.getElementById('tlg'),
	}

	const updateVisibility = (
		visible: 'true' | 'false',
		elementsToUpdate: string[] = []
	): void => {
		elementsToUpdate.forEach((el) => {
			if (elements[el]) elements[el]!.dataset.visible = visible
		})
	}

	const addMouseEvents = (
		element: HTMLElement | null,
		hideElements: string[] = []
	): void => {
		element?.addEventListener('mousemove', () => {
			updateVisibility('false', hideElements)
		})

		element?.addEventListener('mouseout', () => {
			updateVisibility('true', Object.keys(elements))
		})
	}

	addMouseEvents(elements.about, [
		'projects',
		'socialMedia',
		'email',
		'emailRight',
		'emailLeft',
		'at',
		'nick',
		'tlg',
	])
	addMouseEvents(elements.name, [
		'projects',
		'socialMedia',
		'email',
		'emailRight',
		'emailLeft',
		'at',
		'nick',
		'tlg',
	])
	addMouseEvents(elements.projects, [
		'about',
		'socialMedia',
		'email',
		'emailRight',
		'emailLeft',
		'name',
		'at',
	])
	addMouseEvents(elements.tlg, [
		'about',
		'socialMedia',
		'email',
		'emailRight',
		'emailLeft',
		'name',
		'at',
	])
	addMouseEvents(elements.socialMedia, [
		'about',
		'projects',
		'email',
		'emailRight',
		'emailLeft',
		'name',
		'tlg',
	])
	addMouseEvents(elements.at, [
		'about',
		'projects',
		'email',
		'emailRight',
		'emailLeft',
		'name',
		'tlg',
	])
	addMouseEvents(elements.email, ['about', 'projects', 'socialMedia'])
	addMouseEvents(elements.nick, ['about', 'projects', 'socialMedia'])
</script>
