---
import Layout from '@/layouts/Layout.astro'
---

<Layout title="José Luis Silva | Portfolio">
	<main class="grid place-content-center min-h-svh">
		<article>
			<header class="grid grid-cols-lines">
				<div class="col-start-1">
					<p class="text-2xl tracking-wider">me</p>
					<hr />
					<div class="line down"></div>
				</div>
				<div class="col-start-3 col-span-full">
					<p class="text-2xl tracking-wider">website</p>
					<hr />
					<div class="line down"></div>
				</div>
			</header>

			<h1 class="grid grid-cols-lines text-5xl tracking-wider">
				<span id="name">joseluis</span>
				<span id="at">@</span>
				<span id="nick">sheokahn</span>
				<span id="tlg">.com</span>
			</h1>

			<footer class="grid grid-cols-lines">
				<div class="col-start-2 col-span-2">
					<div class="line up h-10"></div>
					<hr />
					<p class="mt-3 text-2xl tracking-wider">social media</p>
				</div>
				<div class="row-start-2 col-span-full -top-1/2">
					<div class="line up h-28"></div>
					<hr />
					<p class="mt-2 text-2xl tracking-wider">email</p>
				</div>
			</footer>
		</article>
	</main>
</Layout>

<style>
	article {
		-webkit-touch-callout: none /* iOS Safari */;
		-webkit-user-select: none /* Safari */;
		-khtml-user-select: none /* Konqueror HTML */;
		-moz-user-select: none /* Firefox */;
		-ms-user-select: none /* Internet Explorer/Edge */;
		user-select: none
			/* Non-prefixed version; currently supported by Chrome and Opera */;
	}
	article > header > div {
		position: relative;
		grid-row-start: 1;
		text-align: center;
	}
	article > footer > div {
		position: relative;
		text-align: center;
	}

	hr {
		height: 12px;
		width: 2px;
		border-width: 0;
		background-color: black;
		position: absolute;
		left: 50%;
	}

	.line {
		@apply border-2 border-black;
	}
	.line.down {
		@apply border-b-0 mt-3 h-10;
	}
	.line.up {
		@apply border-t-0;
	}
</style>
